<!-- About Section -->
<section class="success"  id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2 about-text">
        <p>I am an Environmental and Indigenous Community Planner and Project Manager. I have worked with a range of clients across the country (resource developers, various levels of government, and associated agencies) but my main focus has been in working with Indigenous communities in the areas of: 
		<ul>
			<li >Environmental / impact assessments (provincial and federal), studies and reviews, including Indigenous rights and interests</li>
			<li>Traditional (Indigenous) knowledge and land use data collection, including approaches to integration with western science and into planning processes</li>
			<li>Environmental management and associated planning including development of community Environmental Management Plans and liability risk management</li>
			<li>Policy development and processes to implement new legislation</li>
			<li>Consultation, engagement and facilitation</li>
			<li>Capacity building at the community level</li>
			<li>Supporting comprehensive community planning, and land use and economic development planning processes. </li>
		 </ul>
		 </p>
      </div>
      <div class="col-lg-4">
        <p>I also work with many First Nation communities operating under a Land Code (or preparing to) and am versed in the implications on governance 
		and land management. Much of my work involves bringing together various types of knowledge and information for decision making processes, and 
		developing tailored strategies to facilitate meaningful engagement and achieve desired knowledge sharing outcomes.</p>
      </div>
      
    </div>
  </div>
</section>
